target/

package-info.java
*.class
bin/

.gwt/
Thumbs.db
/com.perso.footcelad.parent/.settings
/com.perso.footcelad.core/.settings
/com.perso.footcelad.hmi/.settings
/com.perso.footcelad.parent/com.perso.footcelad.core/.classpath
/com.perso.footcelad.parent/com.perso.footcelad.hmi/.classpath
