@CHARSET "ISO-8859-1";

@external tgdBtns-up, tgdBtns-down,.tgdBtns-down-hovering,.tgdBtns-up-hovering;
@url tgdDown tgdDown;
@url tgdUp tgdUp;
@url tgdOver tgdOver;
.tgdBtns-up {
	font-size: 12pt;
	width: 150px;
	height: 25px;
	text-align: center;
	background-size: 100%;
	margin: 5px 5px 5px 5px;
	background-image: tgdUp;
}

.tgdBtns {
	font-size: 12pt;
	width: 150px;
	height: 25px;
	text-align: center;
	background-size: 100%;
	margin: 5px 5px 5px 5px;
	background-image: tgdUp;
}

.tgdBtns-down {
	font-size: 13pt;
	font-weight: bold;
	width: 150px;
	height: 25px;
	text-align: center;
	background-size: 100%;
	
	margin: 5px 5px 5px 5px;
	background-image: tgdDown;
}

.tgdBtns-down-hovering {
	font-size: 13pt;
	font-weight: bold;
	width: 150px;
	height: 25px;
	text-align: center;
	background-size: 100%;
	
	margin: 5px 5px 5px 5px;
	background-image: tgdDown;
}

.tgdBtns-up-hovering {
	font-size: 12pt;
	width: 150px;
	height: 25px;
	text-align: center;
	background-size: 100%;
	
	margin: 5px 5px 5px 5px;
	background-image: tgdUp;
}

